@import 'variables';

.container {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1024px;
  padding-bottom: 30px;
}

a.button {
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  padding: 7px 15px 5px;
  border: 1px solid;
  color: $link-color;
  font-family: 'Arvo-Bold';
  background-color: rgba(255, 255, 255, 0.4);
}