@import '../../styles/variables';

.header {
  display: flex;
  flex-direction: row-reverse;
  background: rgba(0, 0, 0, 0.5);
  padding: 60px 20px 20px;
  position: absolute;
  z-index: 1;
  width: 1024px;
  box-sizing: border-box;

  img {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  nav a {
    margin-left: 20px;
  }
}
